body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.diagram-choose-container {
  padding: 5px 10px;
}

.text {
  margin: 3px 0;
}

.dashboard {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard-main {
  width: 80%; /* Устанавливаем ширину 80% */
  max-width: 1000px; /* Максимальная ширина */
  margin: 0 auto; /* Центрируем блок */
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.step {
  margin-bottom: 100px;
  border: 10px;
}

.chart-options {
  background-color: #E5EBF9;
  border-radius: 10px;
  padding: 20px 10px 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Общее оформление выбора типа диаграммы*/
.chart-option {
  margin: 0 15px 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Распределение между началом и концом */
}

.dropdown {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 600;
  width: 40%;
  align: left;
  padding: 10px;
  background-color: #E5EBF9;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.create-chart-button {
  display: block;
  width: 300px;
  margin: auto;
  padding: 15px;
  background-color: #2d6cdf;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.chart-option input[type="radio"] {
  display: none; /* Скрыть стандартный input */
}

.chart-option:hover {
  border-color: #2d6cdf;
  cursor: pointer;
}

/* Кастомный радиокруг */
.custom-radio {
  width: 23px;
  height: 23px;
  border: 2px solid #2d6cdf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* Перемещаем вправо */
  position: relative;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Отображение галочки при выборе */
.custom-radio::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #2d6cdf;
  border-radius: 50%;
  display: none;
}

input[type="radio"]:checked + .custom-radio::after {
  display: block;
}